/*--Color Pallete--*/
/*
#A6E1FA
#0E6BA8
#0A2472 
#001C55
#00072D
*/
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0;
    width: 100%;
    text-align: center;
}
main {
    flex: 1 0 auto;
}
.header{
    padding: 2rem;
    width: 100%;
    background-color: #A6E1FA;
    position: fixed;
    top: 0;
    right: 0;
}
.logo {
    color: #00072D;
    text-decoration: none;
    padding: 0.5rem;
    border: 3px solid #0E6BA8;
    text-transform: uppercase;
}
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}