/*--Color Pallete--*/
/*
#A6E1FA
#0E6BA8
#0A2472 
#001C55
#00072D
*/
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 0;
    max-width: 100%;
    text-align: center;
    line-height: 1.5;
    background-image: url(./images/kuic_jxb4la-removebg-preview.png);
    background-repeat: no-repeat;
    background-position: top 3rem left 20rem;
    background-size: cover;
    background-attachment: fixed;  
}
main {
    flex: 1 0 auto;
}
.header{
    padding: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    align-items: flex-start;
    justify-content: center;
    z-index: 200;
}
.logo {
    color: #00072D;
    text-decoration: none;
    padding: 0.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
/* TOGGLE */
.toggle {
    position: fixed;
    top: 10;
    right: 0;
    width: 60px;
    height: 60px;
    background: #00072D url(../css/images/menu.svg);
    background-size: 30px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 20;
    cursor: pointer;
  }
  
  .toggle.active {
    background: #00072D url(/css/images/x.svg);
    background-size: 25px;
    background-position: center;
    background-repeat: no-repeat;
  }
  /* NAVIGATION */
.navigation {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #0E6BA8;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .navigation.active {
    left: 0;
  }
  
  .navigation ul {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .navigation ul li {
    position: relative;
    list-style: none;
    text-align: center;
  }
  
  .navigation ul li a {
    font-size: 3.5rem;
    color: #A6E1FA;
    text-decoration: none;
    font-weight: 300;
    text-align: justify;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  .navigation ul li a:hover {
    color: #00072D;
  }

  .navigation_contact {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
  }
  .navigation_contact a {
      color: #A6E1FA;
      margin: 1rem 2.5rem;
  }
.hero {
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 18rem 10rem;
}
h1 {
    font-size: 3rem;
    color: #001C55;
    font-weight: 400;
}
.intro p {
    font-size: 1.3rem;
    color: #001C55;
}
.intro .btn {
    font-size: 1.3rem;
    padding: 0.3rem 2rem;
    background-color: #0E6BA8;
    color: #ffffff;
    border: none;
    outline: none;
    border-radius: 3.125rem;
}
.btn:hover {
    background-color: #0A2472;
    transition: all 0.3s ease;
    z-index: 10;
    box-shadow: 4px 4px 10px #001C55;
}
.btn:active {
    background-color: #00072D;
}
.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    max-width: 50%;
    text-align: justify;
    padding: 6rem 10rem;
}
.background {
    align-items: center;
    justify-content: center;
}
.background h2 {
    color: #0A2472;
    font-weight: 300;
    text-align: left;
}
.background p {
    text-align: justify;
    color: #00072D;
    margin-top: 1rem;
    margin-bottom: 4rem;
}

img {
    width: 100%;
}
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00072D;
    opacity: 0.9;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
.portfolio h2 {
    color: #A6E1FA;
    padding: 0.3rem 3rem;
    border: 2px solid #0E6BA8;
    margin-bottom: 0;
}
.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}
.projects a {
    background-color: #0E6BA8;
    padding: 0.2rem 1rem;
    font-size: 1rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    cursor: pointer;
    margin: 0.3rem;
    font-weight: bold;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.project a::before, .project a::after {
    content: '';
    position: absolute;
    transition: inherit;
    z-index: -1;
}
.projects a:visited {
    color: #A6E1FA;
}
.projects a:hover {
    background-color: #A6E1FA;
    color: #00072D;
}
.projects a:active {
    background: black;
    color: #ffffff;
}
.details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    margin: 1rem 0;
    
}
.skills a, .hobby a, .interest a, .certification a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.skills, .certification, .interest, .hobby {
    margin: 1rem 0;
}
.skills h3,.certification h3, .interest h3, .hobby h3 {
    color: #0E6BA8;
    text-align: left;
    font-weight:300;
    margin: 0;
}
.skills a, .certification a,.interest a, .hobby a {
    background-color: #EBEBFF;
    padding: 0.3rem 1.2rem;
    margin: 0;
    font-size: 0.8rem;
    border-radius: 1.5rem;
    text-decoration: none;
    color: #00072D;
    cursor: pointer;
}

.skills a:visited, .certification a:visited, .interest a:visited, .hobby a:visited {
    color: #0A2472;
}
.skills a:hover, .certification a:hover, .interest a:hover, .hobby a:hover {
    background-color: #0A2472;
    color: #ffffff;
    transition: all 0.3s ease;
}
.link a:active, .certification a:active, .interest a:active, .hobby a:active {
    background-color: #ffffff;
    color: #00072D;
}
#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #001C55;
    opacity: 0.9;
    width: 100%;
}
.contact h3 {
    font-weight: 100;
    font-size: 1.5rem;
    color: #A6E1FA;
    margin: 0;
    padding: 2rem;
}
.contact p {
    color: #EBEBFF;
}
.social span {
    text-align: center;
    width: 0;
    overflow: hidden;
    vertical-align: middle;
}
.contact a {
    text-decoration: none;
    color: #0E6BA8;
}
.contact a:visited {
    color: #A6E1FA;
}
.contact a:hover {
    color: #ffffff;
}
.contact .feather {
    margin: 1rem;
}
.feather:hover {
    stroke: none;
    fill: #A6E1FA;
    color: #A6E1FA;
    transition: all 0.3s ease;
}
.footer {
    background-color: #0A2472;
    opacity: 0.9;
    width: 100%;
    padding: 1.5rem;
    color: #ffffff;
    text-align: right;
}


@media only screen and (max-width: 360px){
    body {
        display: flex;
        width: 100%;
    }
}
@media only screen and (max-width: 799px){
   body {
       background-image: none;
       margin: 0 auto;
       padding: 0;
   }
   .header {
       max-width: 100%;
       margin: 0;
       padding: 0.5rem;
       
   }
   .hero {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       padding: 5rem 0.5rem;
       margin: 0 auto;
       width: 100%;
       height: auto;
   }
   .about {
       max-width: 100%;
       padding: 1rem;
       margin-top: 0;
       margin-bottom: 2rem;
   }
   h1 {
       font-size: 2rem;
   }
   .intro p {
       font-size: 1rem;
   }
   .details {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    }
    .skills a, .certification a,.interest a, .hobby a{
        margin: 0.2rem;
    }
    .footer {
        text-align: center;
    }
}
@media screen and (min-width: 799px) and (max-width: 1024px){
    .about {
        max-width: 85%;
        text-align: justify;
        margin: 1rem;
    }
}
@media screen and (orientation:landscape){
    .about {
        max-width: 65%;
    }
}
